* {
    padding: 0;
    margin: 0;
}

header {
    margin-top: 20px;
    width: 99%;
    height: 50px;
    display: flex;
    min-width: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo {
    font-size: 30px;
    font-family: "Permanent Marker", cursive;
    color: red;
    margin-left: 9%;
}

a {
    font-family: "Permanent Marker", cursive;
    color: black;
    font-size: 24px;
    text-decoration: none;
    padding-left: 35px;
}

a:hover {
    color: red;
}

.basket {
    margin-left: 20px;
    width: 99px;
    height: 100px;
    cursor: pointer;
}

#basket {
    width: 35px;
    height: 35px;
}

.MenuWrap {
    margin-left: 540px;

}

.prev {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.block1 {
    width: 60%;
    height: 870px;
    margin-top: 30px;
    padding-left: 150px;
}

.ogl {
    margin-top: 30px;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
    color: white;
    font-size: 80px;
    font-family: "Permanent Marker", cursive;
}

.ez {
    font-size: 50px;
    color: red;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.btn {
    font-size: 30px;
    width: 200px;
    height: 60px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    font-family: "Permanent Marker", cursive;
}

.btn2 {
    font-size: 30px;
    width: 200px;
    height: 60px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background-color: black;
    cursor: pointer;
    font-family: "Permanent Marker", cursive;
}


.block2 {
    width: 40%;
    height: 870px;
    background-image: url(../img/IMG_2770.PNG);
    background-size: 130%;
    background-repeat: none;
    flex-direction: row;
    flex-wrap: nowrap;
}

.aroma {
    display: flex;
    width: 100%;
    height: 600px;
    font-size: 80px;
    background-color: black;
    font-family: "Permanent Marker", cursive;
}

.block3 {
    margin-left: 20%;
    width: 500px;
    height: 530px;
    color: white;
    transform: translate(0, 70px);
    -webkit-transform: translate(0, 70px);
    -o-transform: translate(0, 70px);
    -moz-transform: translate(0, 70px);
}

.ezz {
    font-size: 28px;
    color: red;
    font-family: "Montserrat Alternates", sans-serif;
}

.arom {
    width: 29%;
    height: 530px;
    margin-left: 15%;
    margin-top: 30px;
}

.EM {
    width: 100%;
    height: 700px;
    display: flex;
    margin-top: 40px;
}


.sec {
    color: black;
}

.oglav {
    text-align: center;
    margin-top: 90px;
    text-shadow:
        -2px 2px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    color: white;
    font-size: 90px;
    font-family: "Permanent Marker", cursive;

}

.bag {
    width: 400px;
    margin-top: 250px;
    height: 400px;
}

.vit {
    margin-top: 180px;
    margin-bottom: -130px;
}

.nab {
    width: 80%;
    height: 820px;
    margin: auto;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.nab1 {
    width: 80%;
    height: 820px;
    margin: auto;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.lot {
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    width: 400px;
    height: 510px;
    border-top-left-radius: 30px;
}

.lot2 {
    border: 1px solid rgb(0, 0, 0);
    width: 400px;
    height: 510px;
    padding: 10px;
}

.lot3 {
    border: 1px solid rgb(0, 0, 0);
    width: 400px;
    height: 510px;
    padding: 10px;
    border-top-right-radius: 30px;
}

.lot:hover {
    background-color: rgba(255, 0, 0, 0.209);
    cursor: pointer;
}

.lot2:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.209);
}

.lot3:hover {
    background-color: rgba(255, 0, 0, 0.209);
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.209);
    ;
}

.name {
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
    color: white;
    font-size: 80px;
    font-family: "Permanent Marker", cursive;
}

.price {
    color: red;
    font-size: 20px;
    font-family: "Permanent Marker", cursive;
}

.tovar {
    width: 370px;
    height: 370px;
}

footer {
    width: 100%;
    background-color: black;
    height: 500px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
}


.info{
    display: flex;
    justify-content: space-between;
}

.blockF {
    width: 400px;
    height: 400px;
    font-size: 30px;
  margin-left: 150px;
    color: white;
    padding-top: 12px;
   
}

.blockO {
    width: 400px;
    color: white;
    font-size: 30px;
    height: 400px;
    margin-left: 80px;
    padding-top: 12px;
}

.blockT {
    color: white;
    width: 400px;
    font-size: 30px;
    height: 400px;
    padding-top: 12px;
   
}

.podpis{
font-size: 40px;
color: white;
margin-left: 80px;
}

.rus{
    font-size: 40px;
color: white;
margin-right: 80px;
}

.nad{
    display: flex;
    justify-content: space-between;
}

#login-form {
    display: none;
  }
  
  #login-form.active {
    display: block;
  }